{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block body %}
    <div class="row" ng-app>
        <div class="col-xs-4 col-xs-offset-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}