{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('Resources/css/game.css') }}" />
{% endblock %}

{% if game is defined and game is not null %}
    {% block body %}
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <table id="game" class="table table-bordered">
                    <thead>
                        <tr>                                                
                            <th colspan="{{ game.cols }}">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h2>This is mars!</h2>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="{{ path("start_game") }}" class="btn btn-success">New exploration!</a>
                                    </div>
                                </div>                                
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in 1..game.rows %}
                            <tr>
                                {% for col in 1..game.cols %}
                                    {% set thereIsAnObstacle = false %}
                                    {% for obstacle in game.getObstacles %}
                                        {% if obstacle.row == row and obstacle.col == col %}
                                            {% set thereIsAnObstacle = true %}
                                        {% endif %}
                                    {% endfor %}
                                    
                                    {% set thereIsMarsRover = false %}
                                    {% if row == game.getCurrentRow and col == game.getCurrentCol %}
                                        {% set thereIsMarsRover = true %}
                                    {% endif %}
                                    <td>     
                                        <div 
                                            {% if thereIsMarsRover %}
                                                class="mars_rover {{ game.getCurrentDirection.getDirection|lower }}"
                                            {% elseif thereIsAnObstacle %}
                                                class="obstacle"
                                            {% endif %}
                                            > 
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>            
        </div>
    {% endblock %}
    
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            
            var possibleKeys = ["ArrowLeft", "ArrowRight", "ArrowDown", "ArrowUp"];
            
            $(function(){
                $('body').on("keyup", function(event){
                    if(possibleKeys.indexOf(event.key) !== -1){
                        $.getJSON("{{ path('move') }}",
                        { pressedKey: event.key },
                        function(data){  
                            if(data.result == true){
                                if(data.coordinate.row && data.coordinate.col && data.coordinate.direction.id){
                                    relocalizateMarsRover(data.coordinate)
                                }
                            }
                            else{
                                if(typeof data.message !== "undefined"){
                                    alert(data.message);
                                }
                            }
                        });
                    }
                });
            });
            
            function relocalizateMarsRover(coordinate)
            {                
                marsRoverLeaveLastLocation();
                
                $("table#game > tbody tr").each(function(row, rowElement){
                    $(rowElement).find("td").each(function(col, colElement){
                        if(row+1 == coordinate.row && col+1 == coordinate.col){
                            var direction = new String(coordinate.direction.direction);
                            $(colElement).find('div').addClass("mars_rover "+direction.toLowerCase());
                        }
                    });
                });
            }
            
            function marsRoverLeaveLastLocation()
            {
                $('table#game > tbody td > div.mars_rover').removeClass();
            }            
            
        </script>
    {% endblock %}
{% endif %}

