{# empty Twig template #}
{% extends "::base.html.twig" %}

{% block body %}  
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script>
        var currentRow = {{ game.getcurrentrow }};
        var currentCol = {{ game.getcurrentcol }};
        
        $(function(){
            $("#game_obstacles_row").attr("max", {{ game.getrows }});            
            $("#game_obstacles_col").attr("max", {{ game.getcols }});
            
            $("form").submit(function(){
                if($("#game_obstacles_row").val() == currentRow && $("#game_obstacles_col").val() == currentCol){
                    alert("Please do not put a crater in your Mars Rover position!\n\nMARS IS BIG!!!");
                    return false;
                }
            });
        });
    </script>
{% endblock %}