.mars_rover{
    background-image: url('../../icons/mars-rover.png');
    background-repeat: no-repeat;
    background-position: center;
}

table#game h2{
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
}

table#game td, table#game th{
    text-align: center;
    background-color: indianred;
}

table#game td > div{
    width: 64px;
    height: 64px;
}

.obstacle{
    background-image: url("../../icons/obstacle.png");
}

.east{
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.south{
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.west{
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.north{
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}